{% extends "ExtPage.html" %}

{% block title %}Introduction{% endblock %}

{% block content %}
    <section class="info">
        <p>This is a simple decision game.</p>

        <p>
            In the game you are paired with a partner. You are assigned roles of Proposer and Receiver. Proposer is endowed with {{ group.endowment }} points
            and decides how much he is willing to share with their partner. Receiver decides whether to accept or reject the proposal.
        </p>

        <p>...</p>
        <p>...</p>
        <p>...</p>
    </section>

    <section class="form">
        <p>Please fill information below</p>

        {{ formfield 'age' }}
        {{ formfield 'gender' }}
    </section>

    {{ next_button }}
{% endblock content %}
