{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <section class="paper m-3" ot-visible="vars.trial">
            <div>Endowment: <b ot-text="vars.trial.endowment"></b></div>
            <div ot-visible="vars.trial.proposal">You shared: <b ot-text="vars.trial.proposal"></b></div>
            <div ot-visible="vars.trial.decision">Your partner decded: <b ot-text="vars.decision_label"></b></div>
        </section>
    </header>

    <main ot-visible="vars.trial">
        <section class="form w-50">
            <h4>Your proposal:</h4>
            <input
                ot-input
                type="range"
                min="0"
                ot-max="vars.maxshare"
                step="1"
                name="proposal"
                class="form-range"
                ot-key-input="Enter"
                ot-enable="vars.responding"
                autofocus
            />
            <hr />
            <button ot-click-input type="button" name="confirm" class="btn btn-primary" ot-enable="vars.confirming">Confirm</button>
        </section>

        <div ot-visible="vars.evaluation" class="alert alert-info">
            <h5>If your partner accepts:</h5>
            <ul>
                <li>You keep: <b ot-text="vars.evaluation.P"></b></li>
                <li>Your partner receives: <b ot-text="vars.evaluation.R"></b></li>
            </ul>
        </div>
    </main>

    <footer>
        <section ot-display="vars.result" class="info">
            <h4>Final Result:</h4>
            <ul class="m-0">
                <li>Your payoff: <b ot-text="vars.result.P"></b></li>
                <li>Your partner's payoff: <b ot-text="vars.result.R"></b></li>
            </ul>
        </section>
        <div class="flex-fill"></div>
        <div ot-display="vars.prompting">Adjust your proposal and <kbd>Confirm</kbd></div>
        <div ot-display="vars.pending">Waiting for your partner</div>
        <ot-pulse ot-display="vars.waiting" class="m-2"></ot-pulse>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const MYTURN = "{{player.role}}";
        const BLINK_DELAY = 200;
        const RESULT_DELAY = 300;
        const ITER_DELAY = 1000 * "{{C.ITER_DELAY}}";
        const WAITING_TIMEOUT = 1000 * "{{C.WAITING_TIMEOUT}}";

        function switchState(state) {
            let turn = vars.progress ? vars.progress.turn : null;
            // console.debug(`switching: ${state}/${turn}`, `/${MYTURN}/`);

            vars.waiting = false;
            vars.pending = false;
            vars.responding = false;
            vars.confirming = false;
            vars.prompting = false;

            switch (state) {
                case "pending":
                    vars.pending = true;
                    vars.waiting = true;
                    break;
                case "starting":
                case "processing":
                    vars.waiting = true;
                    break;
                case "completing":
                    vars.waiting = true;
                    break;
                case "running":
                    vars.responding = turn == MYTURN;
                    vars.confirming = vars.responding && vars.response != null;
                    vars.prompting = vars.responding;
                    vars.pending = !vars.responding;
                    vars.waiting = vars.pending;
                    break;
                default:
                    throw Error(`Bogus state switch: ${state}`);
            }
            ot.updatePage();
        }

        // start timer when waiting for other participant
        ot.onUpdate("vars.pending", function toggleTimer(pending) {
            if (pending) {
                ot.startTimer("pending", WAITING_TIMEOUT);
            } else {
                ot.cancelTimer("pending");
            }
        });

        ot.onTimer("pending", function timeoutPending() {
            ot.sendLive("timeout", { trialid: vars.trial.id });
        });

        ot.onLoad(initPage);
        ot.onLive("progress", liveProgress);
        ot.onLive("trial", startTrial);
        ot.onLive("update", updateTrial);
        ot.onInput("proposal", inputResponse);
        ot.onInput("confirm", confirmResponse);
        ot.onLive("evaluation", liveEvaluation);
        ot.onLive("result", liveResult);
        ot.onInput("continue", iterateRound);

        function initPage() {
            resetTrial();
            switchState("starting");
            ot.sendLive("load");
        }

        async function iterateRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            ot.sendLive("iterate");
        }

        function liveProgress(progress) {
            vars.progress = progress;
            if (progress.terminated) ot.completePage();
            if (progress.pending) switchState("pending");
        }

        function resetTrial() {
            vars.trial = null;
            vars.response = null;
            vars.feedback = null;
            vars.evaluation = null;
            vars.result = null;
            ot.resetInputs();
        }

        function resetResponse() {
            vars.response = null;
            vars.feedback = null;
            ot.resetInputs();
        }

        function startTrial(trial) {
            vars.trial = trial;
            vars.maxshare = parseInt(trial.endowment);
            ot.beginTimeMeasurement();
            switchState("running");
        }

        function updateTrial(update) {
            Object.assign(vars.trial, update);
            switchState("running");
        }

        function inputResponse(response) {
            vars.response = String(response);
            switchState("running");
        }

        function confirmResponse() {
            switchState("processing");
            ot.sendLive("proposal", {
                trialid: vars.trial.id,
                time: ot.getTimeMeasurement(),
                proposal: vars.response,
            });
        }

        ot.onUpdate("vars.response", function (proposed) {
            if (proposed != null) ot.sendLive("evaluate", { proposal: parseInt(proposed), decision: true });
        });

        function liveEvaluation(shares) {
            vars.evaluation = shares;
        }

        async function liveResult(result) {
            vars.evaluation = null;
            await ot.delay(RESULT_DELAY);
            vars.result = result;
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing");
            await ot.delay(ITER_DELAY);
            iterateRound();
        }

        const DECISION_LABELS = { ACCEPT: "Accept", REJECT: "Reject" };

        ot.onUpdate("vars.trial.decision", function (decided) {
            if (decided == null) vars.decision_label = null;
            vars.decision_label = DECISION_LABELS[decided];
        });
    </script>
{% endblock scripts %}
