{# Extended page template

Inserts styles and scripts defined in page class.
Also adds modern bootstrap variables for colors.
Also adds base otree-front scripts.

In __init__:
  class SomePage(Page):
      page_styles = [ "somefile.css", "another.css" ]
      page_scripts = [ "somefile.js", "another.js" ]
      ...

In SomePage.html insert at top:
  {% extends "ExtPage.html" %}
  
#}
{% extends "otree/Page.html" %}

{% block global_styles %}
    <link rel="stylesheet" href="{{ static '_extras/bootstrap-theme.css' }}" />
    <link rel="stylesheet" href="{{ static '_extras/game-style.css' }}" />
{% endblock %}

{% block app_styles %}
    {% if is_defined('view.page_styles') %}
        {% for style in view.page_styles %}
            <link rel="stylesheet" href="{{ static style }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block global_scripts %}
    <script src="{{ static '_extras/otree-front-2.0.b4.js' }}"></script>
    <script src="{{ static '_extras/otree-front-ext.js' }}"></script>
    {% if has_live_method %}
        <script src="{{ static '_extras/otree-front-live.js' }}"></script>
    {% endif %}
{% endblock %}

{% block app_scripts %}
    {% if is_defined('view.page_scripts') %}
        {% for script in view.page_scripts %}
            <script src="{{ static script }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
