{# Full screen page template
Stretches page to full height and centers all content

In YourPage.html insert:
  {% extends "FullPage.html" %}
  {% block content %}
    <header>...</header>
    <main>...</main>
    <footer>...</footer>
  {% endblock %}
#}
{% extends "ExtPage.html" %}

{% block global_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static 'fullscreen.css' }}" />
{% endblock %}

{% block global_scripts %}
    {{ super() }}
    <script src="{{ static 'fullscreen.js' }}"></script>
{% endblock %}
