{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <h3>Practice</h3>
    </header>

    <main ot-visible="vars.trial">
        <section class="paper fs-4 text-center">
            What is the capital of:
            <br />
            <b ot-text="vars.trial.question"></b>
        </section>

        <section class="form">
            <div class="form-check">
                <input
                    id="choice1"
                    ot-input
                    type="radio"
                    name="choice"
                    value="1"
                    class="form-check-input"
                    ot-enable="vars.responding"
                    ot-class="vars.validity.1"
                />
                <label for="choice1" ot-text="vars.trial.options.1" class="form-check-label"></label>
            </div>

            <div class="form-check">
                <input
                    id="choice2"
                    ot-input
                    type="radio"
                    name="choice"
                    value="2"
                    class="form-check-input"
                    ot-enable="vars.responding"
                    ot-class="vars.validity.2"
                />
                <label for="choice2" ot-text="vars.trial.options.2" class="form-check-label"></label>
            </div>

            <div class="form-check">
                <input
                    id="choice3"
                    ot-input
                    type="radio"
                    name="choice"
                    value="3"
                    class="form-check-input"
                    ot-enable="vars.responding"
                    ot-class="vars.validity.3"
                />
                <label for="choice3" ot-text="vars.trial.options.3" class="form-check-label"></label>
            </div>

            <button ot-click-input type="button" name="confirm" class="btn btn-primary m-3" ot-enable="vars.confirming">Confirm</button>
        </section>
    </main>

    <footer>
        <div ot-display="vars.feedback.truth">Correct answer: <b ot-text="vars.feedback.truth"></b></div>
        <div ot-display="vars.result">Score: <b ot-text="vars.result.score"></b></div>
        <div class="flex-fill"></div>
        <div ot-display="vars.responding">Select and <kbd>Confirm</kbd> your answer...</div>
        <ot-pulse ot-display="vars.waiting"></ot-pulse>
        <button ot-display="vars.completing" ot-click-input type="button" name="continue" class="btn btn-secondary" autofocus>Continue</button>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const AUTO_ADVANCE = false;
        const TRIAL_DELAY = 1000 * "{{C.TRIAL_DELAY}}";

        ot.onLoad(continueRound);
        ot.onLive("progress", liveProgress);
        ot.onLive("trial", startTrial);
        ot.onInput("choice", inputChoice);
        ot.onInput("confirm", confirmChoice);
        ot.onLive("feedback", liveFeedback);
        ot.onInput("continue", continueRound);
        ot.onUpdate("vars.feedback.score", renderResult);
        ot.onUpdate("vars.feedback.correct", renderValidity);

        function switchState(state) {
            vars.responding = false;
            vars.confirming = false;
            vars.completing = false;
            vars.waiting = false;
            switch (state) {
                case "starting":
                    vars.waiting = true;
                    break;
                case "responding":
                    vars.responding = true;
                    vars.confirming = vars.choice != null;
                    break;
                case "evaluating":
                    vars.waiting = true;
                    break;
                case "completing":
                    if (AUTO_ADVANCE) {
                        vars.waiting = true;
                    } else {
                        vars.completing = true;
                    }
                    break;
                case null:
                    break;
                default:
                    throw Error(`Invlid state: ${state}`);
            }
            ot.updatePage();
        }

        async function continueRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            ot.sendLive("continue");
        }

        async function liveProgress(progress) {
            vars.progress = progress;
            if (progress.finished) ot.completePage();
        }

        function resetTrial() {
            vars.trial = null;
            vars.choice = null;
            vars.feedback = null;
            ot.resetInputs();
            switchState(null);
        }

        function startTrial(trial) {
            vars.trial = trial;
            switchState("responding");
            ot.beginTimeMeasurement();
        }

        function inputChoice(choice) {
            vars.choice = choice;
            switchState("responding");
        }

        function confirmChoice() {
            switchState("evaluating");
            ot.sendLive("response", {
                id: vars.trial.id,
                time: ot.getTimeMeasurement(),
                choice: vars.choice,
            });
        }

        async function liveFeedback(feedback) {
            vars.feedback = feedback;
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing");
            if (AUTO_ADVANCE) {
                await ot.delay(TRIAL_DELAY);
                continueRound();
            }
        }

        function renderResult(score) {
            if (score != null) {
                vars.result = { score: format_number(score, "+.2") };
            } else {
                vars.result = null;
            }
            ot.updatePage();
        }

        function renderValidity(correct) {
            vars.validity = {};
            if (correct !== null) {
                vars.validity[vars.choice] = correct ? "is-valid" : "is-invalid";
            }
            ot.updatePage();
        }
    </script>
{% endblock scripts %}
