{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current.iteration"></ot-progress>
        <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    </header>

    <main ot-visible="vars.trial">
        <section class="paper fs-4">
            <p ot-text="vars.trial.task"></p>
        </section>

        <section class="form">
            <div class="form-check">
                <input
                    id="choice1"
                    ot-input
                    type="radio"
                    name="choice"
                    value="1"
                    class="form-check-input"
                    ot-enable="vars.responding"
                    ot-class="vars.validity.1"
                />
                <label for="choice1" ot-text="vars.trial.options.1" class="form-check-label"></label>
            </div>

            <div class="form-check">
                <input
                    id="choice2"
                    ot-input
                    type="radio"
                    name="choice"
                    value="2"
                    class="form-check-input"
                    ot-enable="vars.responding"
                    ot-class="vars.validity.2"
                />
                <label for="choice2" ot-text="vars.trial.options.2" class="form-check-label"></label>
            </div>

            <div class="form-check">
                <input
                    id="choice3"
                    ot-input
                    type="radio"
                    name="choice"
                    value="3"
                    class="form-check-input"
                    ot-enable="vars.responding"
                    ot-class="vars.validity.3"
                />
                <label for="choice3" ot-text="vars.trial.options.3" class="form-check-label"></label>
            </div>

            <button ot-click-input type="button" name="confirm" class="btn btn-primary m-3" ot-enable="vars.confirming">Confirm</button>
        </section>
    </main>

    <footer>
        <div ot-display="vars.feedback.truth">Correct solution: <span ot-text="vars.feedback.truth"></span></div>
        <div ot-display="vars.result">Score: <b ot-text="vars.result.score"></b></div>
        <div class="flex-fill"></div>
        <button ot-display="vars.completing" ot-click-input type="button" name="continue" class="btn btn-secondary m-3" autofocus>Continue</button>
        <ot-pulse ot-display="vars.waiting" class="m-2"></ot-pulse>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const TRIAL_DELAY = 1000 * "{{C.TRIAL_DELAY}}";

        onLoad(continueRound);
        onLive("progress", liveProgress);
        onLive("trial", startTrial);
        onInput("choice", inputChoice);
        onInput("confirm", confirmChoice);
        onLive("feedback", liveFeedback);
        onInput("continue", continueRound);
        onUpdate("vars.feedback.score", showResult);
        onUpdate("vars.feedback.correct", showValidity);

        function switchPhase(phase) {
            vars.responding = phase == "responding";
            vars.confirming = false;
            vars.completing = phase == "completing";
            vars.waiting = phase == "waiting";
            ot.updatePage();
        }

        async function continueRound() {
            switchPhase("waiting");
            resetTrial();
            await ot.delay(BLINK_DELAY);
            sendLive("continue");
        }

        async function liveProgress(progress) {
            vars.progress = progress;
            if (progress.finished) {
                ot.completePage();
            } else if (progress.current) {
                if (progress.current.completed) {
                    //switchPhase("waiting");
                    //await ot.delay(TRIAL_DELAY);
                    //continueRound()
                    switchPhase("completing");
                } else if (progress.current.running) {
                    switchPhase("responding");
                }
            }
        }

        function resetTrial() {
            vars.trial = null;
            vars.choice = null;
            vars.feedback = null;
            vars.validity = {};
            ot.resetInputs();
        }

        function startTrial(trial) {
            vars.trial = trial;
            ot.beginTimeMeasurement();
        }

        function inputChoice(choice) {
            vars.choice = choice;
            vars.confirming = true;
        }

        function confirmChoice() {
            vars.responding = false;
            vars.confirming = false;
            sendLive("response", {
                id: vars.trial.id,
                time: ot.getTimeMeasurement(),
                choice: vars.choice,
            });
        }

        async function liveFeedback(feedback) {
            vars.feedback = feedback;
        }

        function showResult(score) {
            if (score != null) {
                vars.result = { score }; // TODO: format
            } else {
                vars.result = null;
            }
        }

        function showValidity(correct) {
            if (correct == null) {
                vars.validity = {};
            } else {
                vars.validity[vars.choice] = correct ? "is-valid" : "is-invalid";
            }
            ot.updatePage();
        }
    </script>
{% endblock scripts %}
