{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    </header>

    <main ot-visible="vars.trial">
        <section class="paper fs-4 text-center"><b ot-text="vars.trial.task"></b> =</section>

        <section class="form">
            <input
                ot-input
                type="number"
                name="answer"
                class="form-control"
                ot-key-input="Enter"
                autofocus
                ot-class="vars.styles.0"
                ot-enable="vars.responding"
            />
        </section>
    </main>

    <footer>
        <div ot-display="vars.result">Score: <b ot-text="vars.result.score"></b></div>
        <div class="flex-fill"></div>
        <div ot-display="vars.prompting">Enter your answer and press <kbd>Enter</kbd>...</div>
        <ot-pulse ot-display="vars.waiting" class="m-2"></ot-pulse>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const ITER_DELAY = 1000 * "{{C.ITER_DELAY}}";

        function switchState(state) {
            // console.debug("switching", state);

            vars.waiting = false;
            vars.responding = false;
            vars.prompting = false;

            switch (state) {
                case "starting":
                case "processing":
                    vars.waiting = true;
                    break;
                case "completing":
                    vars.waiting = true;
                    break;
                case "running":
                    vars.responding = true;
                    vars.prompting = true;
                    break;
                default:
                    throw Error(`Bogus state switch: ${state}`);
            }
            ot.updatePage();
        }

        ot.onLoad(continueRound);
        ot.onLive("progress", liveProgress);
        ot.onLive("trial", startTrial);
        ot.onInput("answer", inputResponse);
        ot.onLive("feedback", liveFeedback);
        ot.onLive("result", liveResult);
        ot.onInput("continue", continueRound);

        async function continueRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            ot.sendLive("continue");
        }

        function liveProgress(progress) {
            vars.progress = progress;
            if (progress.terminated) ot.completePage();
        }

        function resetTrial() {
            vars.trial = null;
            vars.answer = null;
            vars.feedback = null;
            vars.result = null;
            vars.styles = {};
            ot.resetInputs();
        }

        function updateTrial(update) {
            Object.assign(vars.trial, update);
            switchState("running");
        }

        function startTrial(trial) {
            vars.trial = trial;
            switchState("running");
            ot.beginTimeMeasurement(); // NB: restarts on page reload
        }
        function resetResponse() {
            vars.answer = null;
            vars.feedback = null;
            vars.result = null;
            vars.styles = {};
            ot.resetInputs();
        }

        async function restartTrial() {
            await ot.delay(RETRY_DELAY);
            resetResponse();
            switchState("running");
        }

        function inputResponse(answer) {
            vars.answer = String(answer);
            switchState("processing");
            ot.sendLive("response", {
                id: vars.trial.id,
                time: ot.getTimeMeasurement(),
                answer: vars.answer,
            });
        }

        function liveFeedback(feedback) {
            vars.feedback = feedback;
            if (!feedback.final) restartTrial();
        }

        function liveResult(result) {
            vars.result = result;
            result.score = formatScore(result.score);
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing");
            await ot.delay(ITER_DELAY);
            continueRound();
        }

        ot.onUpdate("vars.feedback.correct", function renderValidity(correct) {
            if (correct != null) {
                if (vars.answer != null) {
                    vars.styles[0] = correct ? "is-valid" : "is-invalid";
                }
            }
            ot.updatePage();
        });

        function formatScore(value) {
            return format_number(value, "+.1");
        }
    </script>
{% endblock scripts %}
