{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <h3>Practice</h3>
    </header>

    <main ot-visible="vars.trial">
        <section class="paper fs-4">
            <p ot-text="vars.trial.task"></p>
        </section>

        <section class="form">
            <input
                ot-input
                type="number"
                name="answer"
                class="form-control"
                ot-key-input="Enter"
                autofocus
                ot-class="vars.validity"
                ot-enable="vars.responding"
            />
        </section>
    </main>

    <footer>
        <div ot-display="vars.feedback.truth">Correct solution: <span ot-text="vars.feedback.truth"></span></div>
        <div ot-display="vars.result">Score: <b ot-text="vars.result.score"></b></div>
        <div class="flex-fill"></div>
        <div ot-display="vars.responding">Enter your answer and press <kbd>Enter</kbd>...</div>
        <div ot-display="vars.responding">Retries left: <span ot-text="vars.progress.retries"></span></div>
        <ot-pulse ot-display="vars.waiting" class="m-2"></ot-pulse>
        <button ot-display="vars.completing" ot-click-input type="button" name="continue" class="btn btn-secondary m-3" autofocus>Continue</button>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const RETRY_DELAY = 1000 * "{{C.RETRY_DELAY}}";
        const AUTO_ADVANCE = false;
        const TRIAL_DELAY = 1000 * "{{C.TRIAL_DELAY}}";

        onLoad(continueRound);
        onLive("progress", liveProgress);
        onLive("trial", startTrial);
        onInput("answer", inputResponse);
        onLive("feedback", liveFeedback);
        onInput("continue", continueRound);
        onUpdate("vars.feedback.score", renderResult);
        onUpdate("vars.feedback.correct", renderValidity);

        function switchState(state) {
            vars.responding = false;
            vars.completing = false;
            vars.waiting = false;
            switch (state) {
                case "starting":
                    vars.waiting = true;
                    break;
                case "responding":
                    vars.responding = true;
                    break;
                case "evaluating":
                    vars.waiting = true;
                    break;
                case "completing":
                    if (AUTO_ADVANCE) {
                        vars.waiting = true;
                    } else {
                        vars.completing = true;
                    }
                    break;
                default:
                    throw Error("Invlid state");
            }
            ot.updatePage();
        }

        async function continueRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            sendLive("continue");
        }

        async function liveProgress(progress) {
            vars.progress = progress;
            if (progress.finished) ot.completePage();
        }

        function resetTrial() {
            vars.trial = null;
            vars.answer = null;
            vars.feedback = null;
            ot.resetInputs();
        }

        function resetResponse() {
            vars.answer = null;
            vars.feedback = null;
            ot.resetInputs();
        }

        function startTrial(trial) {
            vars.trial = trial;
            ot.beginTimeMeasurement();
            switchState("responding");
        }

        async function restartTrial() {
            await ot.delay(RETRY_DELAY);
            resetResponse();
            switchState("responding");
        }

        function inputResponse(answer) {
            vars.answer = answer;
            switchState("evaluating");
            sendLive("response", {
                id: vars.trial.id,
                time: ot.getTimeMeasurement(),
                answer: String(answer),
            });
        }

        function liveFeedback(feedback) {
            vars.feedback = feedback;
            if (feedback.completed) completeTrial();
            else restartTrial();
        }

        async function completeTrial() {
            switchState("completing");
            if (AUTO_ADVANCE) {
                await ot.delay(TRIAL_DELAY);
                continueRound();
            }
        }

        function renderResult(score) {
            if (score != null) {
                vars.result = { score: format_number(score, "+.0") };
            } else {
                vars.result = null;
            }
        }

        function renderValidity(correct) {
            if (correct != null) {
                vars.validity = correct ? "is-valid" : "is-invalid";
            } else {
                vars.validity = null;
            }
            ot.updatePage();
        }
    </script>
{% endblock scripts %}
