{% extends "ExtPage.html" %}

{% block title %}
    Questions
{% endblock title %}

{% block content %}
    <section class="form">
        <div class="m-3" id="fld_q_baz">
            <label class="col-form-label" for="{{ form.q_baz.id }}">{{ form.q_baz.label }}</label>
            {{ form.q_baz }}
        </div>
        <div class="m-3" id="fld_q_bazother" hidden>
            <label class="col-form-label" for="{{ form.q_baz_other.id }}">{{ form.q_baz_other.label }}</label>
            {{ form.q_baz_other }}
        </div>

        {{ next_button }}
    </section>
{% endblock content %}

{% block scripts %}
    <script>
        onInput("q_baz", function (value) {
            if (value == "Z0") {
                ot.showDisplay("fld_q_bazother");
                forminputs.q_baz_other.required = true;
            } else {
                ot.hideDisplay("fld_q_bazother");
                forminputs.q_baz_other.required = false;
            }
        });
    </script>
{% endblock %}
