{% extends "ExtPage.html" %}

{% block title %}Introduction{% endblock %}

{% block content %}
    <section class="info">
        <p>...</p>

        <p>...</p>

        <p>...</p>
    </section>

    <section class="warn">
        <p>Please note: the show-up fee and bonus will be given only to participants who complete the study.</p>
    </section>

    <section class="form">
        <p>Please fill information below</p>

        {{ formfield 'age' }}
        {{ formfield 'gender' }}
    </section>

    <section class="info">
        <h3>Consent</h3>

        <p>By clicking the "Next" button, you provide your informed consent to proceed with the experiment.</p>

        {{ formfield 'agreement' }}

        {{ next_button }}
    </section>

    {{ formfield 'localtime' }}
{% endblock content %}

{% block scripts %}
    <script>
        ot.onLoad(function () {
            // auto-preselect gender='other'
            if (forminputs.gender.value == "") forminputs.gender.value = "O";
        });

        ot.onSubmit(function () {
            // auto fill the field when the form ubmitted
            forminputs.localtime.value = new Date().toString();
        });
    </script>
{% endblock scripts %}
