{% extends "ExtPage.html" %}

{% block title %}
    Questions
{% endblock title %}

{% block content %}
    <section class="form">
        <div class="grid">
            <h5>Question</h5>
            <label>Totally<br />agree</label>
            <label>Somewhat<br />agree</label>
            <label>Do not care</label>
            <label>Somewhat<br />disagree</label>
            <label>Totally<br />disagree</label>

            {% for field in form %}
                <div>
                    <h6>{{ field.label.text }}</h6>
                </div>

                {% for choice in field %}
                    <label for="{{ choice.id }}">
                        <input id="{{ choice.id }}" type="radio" name="{{ field.name }}" value="{{ choice._value }}" class="form-check" />
                    </label>
                {% endfor %}
                <hr />
            {% endfor %}
        </div>
    </section>
    {{ next_button }}
{% endblock content %}

{% block styles %}
    <style>
        .grid {
            display: grid;
            grid-template-columns: auto repeat(5, 1fr);
            gap: 0.5rem;
            justify-items: stretch;
            align-items: stretch;
        }

        .grid label {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            min-width: 5em;
        }

        .grid hr {
            margin: 0;
            grid-column: 1/7;
        }
    </style>
{% endblock styles %}
