{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    </header>

    <main ot-visible="vars.trial">
        <section class="paper w-50">
            <h5>Your party responses:</h5>
            <div ot-html="vars.chat.0"></div>
            <div ot-html="vars.chat.1"></div>
            <div ot-html="vars.chat.2"></div>
        </section>
        <div class="flex-fill"></div>
        <section class="form">
            <h5>Your response:</h5>
            <div class="d-flex m-3 gap-3 justify-content-center">
                <button ot-click-input type="button" name="response" value="MEOW" class="btn btn-primary" ot-enable="vars.responding">Meow</button>
                <button ot-click-input type="button" name="response" value="WOOF" class="btn btn-primary" ot-enable="vars.responding">Woof</button>
            </div>
        </section>
    </main>

    <footer>
        <div ot-display="vars.result">Score gain: <b ot-text="vars.result.score"></b></div>
        <div class="flex-fill"></div>
        <div ot-display="vars.prompting">Choose your response.</div>
        <div ot-display="vars.pending">Waiting for your partners...</div>
        <ot-pulse ot-display="vars.waiting" class="m-2"></ot-pulse>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const MYID = "{{player.id}}";
        const MYTURN = "{{player.id_in_group}}";
        const BLINK_DELAY = 200;
        const TRIAL_DELAY = 1000 * "{{C.TRIAL_DELAY}}";

        function switchState(state) {
            let turn = vars.progress ? vars.progress.turn : null;
            let committed = vars.feedback != null;
            console.debug(`switching: ${state}/${turn}/${committed}`, `/${MYTURN}/`);

            vars.waiting = false;
            vars.pending = false;
            vars.responding = false;
            vars.prompting = false;

            switch (state) {
                case "pending":
                    vars.pending = true;
                    vars.waiting = true;
                    break;
                case "starting":
                case "processing":
                case "completing/AUTO":
                    vars.waiting = true;
                    break;
                case "running":
                    vars.responding = !committed && turn == MYTURN;
                    vars.prompting = vars.responding;
                    vars.pending = !vars.responding;
                    vars.waiting = vars.pending;
                    break;
                default:
                    throw Error(`Bogus state switch: ${state}`);
            }
            ot.updatePage();
        }

        ot.onLoad(continueRound);
        ot.onLive("progress", liveProgress);
        ot.onLive("trial", startTrial);
        ot.onLive("update", updateTrial);
        ot.onInput("response", inputResponse);
        ot.onLive("feedback", liveFeedback);
        ot.onLive("result", liveResult);

        async function continueRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            ot.sendLive("continue");
        }

        function liveProgress(progress) {
            vars.progress = progress;
            if (progress.finished) ot.completePage();
            if (progress.pending) switchState("pending");
        }

        function resetTrial() {
            vars.trial = null;
            vars.response = null;
            vars.feedback = null;
            vars.result = null;
            ot.resetInputs();
        }

        function resetResponse() {
            vars.response = null;
            vars.feedback = null;
            ot.resetInputs();
        }

        function updateTrial(update) {
            Object.assign(vars.trial, update);
            continueTrial();
        }

        function startTrial(trial) {
            vars.trial = trial;
            switchState("running");
        }

        async function continueTrial() {
            switchState("running");
        }

        function inputResponse(response) {
            vars.response = response;
            switchState("processing");
            ot.sendLive("response", {
                id: vars.trial.id,
                utterance: response,
            });
        }

        function liveFeedback(feedback) {
            vars.feedback = feedback;
            vars.response = feedback.response;
            continueTrial();
        }

        function liveResult(result) {
            vars.result = result;
            vars.result.score = formatScore(result.score);
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing/AUTO");
            await ot.delay(TRIAL_DELAY);
            continueRound();
        }

        ot.onUpdate("vars.trial.responses", function (responses) {
            if (responses == null) vars.chat = [];
            else vars.chat = vars.trial.responses.map(formatChat);
            ot.updatePage();
        });

        function formatChat(resp) {
            let who = resp.id == MYID ? "You" : "Other";
            let what = resp.response.toLowerCase();
            return `<b>${who} said:</b> <i>${what}</i>`;
        }

        function formatScore(score) {
            return format_number(score, "+.1");
        }
    </script>
{% endblock scripts %}
