{% extends "_extras/GamePage.html" %}

{% block header %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <div class="alert alert-secondary m-2">Total score: <span ot-text="vars.progress.score"></span></div>
    </header>
{% endblock %}

{% block main %}
    <main ot-visible="vars.trial">
        <div class="cards cards-3" ot-class="vars.stage">
            <button
                ot-click-input
                type="button"
                name="choice"
                value="1"
                ot-text="vars.labels.1"
                ot-enable="vars.responding"
                ot-selected="vars.selected.1"
                class="crd fs-1"
                ot-class="vars.styles.1"
            ></button>
            <button
                ot-click-input
                type="button"
                name="choice"
                value="2"
                ot-text="vars.labels.2"
                ot-enable="vars.responding"
                ot-selected="vars.selected.2"
                class="crd fs-1"
                ot-class="vars.styles.2"
            ></button>
            <button
                ot-click-input
                type="button"
                name="choice"
                value="3"
                ot-text="vars.labels.3"
                ot-enable="vars.responding"
                ot-selected="vars.selected.3"
                class="crd fs-1"
                ot-class="vars.styles.3"
            ></button>
        </div>

        <section class="info" ot-display="vars.feedbacking">
            <div ot-display="vars.result">Scored: <b ot-text="vars.result.score"></b></div>
        </section>
    </main>
{% endblock %}

{% block form %}
    <hr class="ridge" />
    <button ot-display="vars.sampling" ot-enable="vars.progress.finalizable" ot-click-input type="button" name="finalize" class="btn btn-primary">
        Finalize
    </button>
    <button ot-display="vars.completing" ot-enable="vars.completing" ot-click-input type="button" name="continue" class="btn btn-secondary">Continue</button>
{% endblock %}

{% block footer %}
    <footer>
        <div ot-display="vars.prompting.sample">Make several <b>sampling</b> choices...</div>
        <div ot-display="vars.prompting.finalize">Click <kbd>Finalize</kbd> to proceed to final stage...</div>
        <div ot-display="vars.prompting.final">Make your <b>final</b> choice...</div>
        <div ot-display="vars.prompting.complete">Press <kbd>Continue</kbd> to proceed...</div>
        <ot-pulse ot-display="vars.waiting"></ot-pulse>
    </footer>
{% endblock %}

{% block styles %}
    <style>
        .cards.SAMPLING {
            --card-size: 200px;
        }

        .cards.FINAL {
            --card-size: 216px;
        }
    </style>
{% endblock styles %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const ITER_DELAY = 1000 * "{{C.ITER_DELAY}}"; // auto-iterating
        const SAMPLING_DELAY = 1000 * "{{C.SAMPLING_DELAY}}";

        function switchState(state) {
            let stage = vars.stage;
            //console.debug("switching", state, stage);

            vars.waiting = false;
            vars.responding = false;
            vars.sampling = false;
            vars.finalizing = false;
            vars.completing = false;

            switch (state) {
                case "starting":
                case "processing":
                    vars.waiting = true;
                    break;
                case "running":
                    vars.responding = true;
                    vars.sampling = stage == "SAMPLING";
                    vars.finalizing = stage == "FINAL";
                    break;
                case "completing":
                    vars.waiting = true; // auto
                    //vars.completing = true; // button
                    break;
                default:
                    throw Error(`Bogus state switch: ${state}`);
            }

            vars.feedbacking = vars.result != null; // || vars.feedback != null;

            vars.prompting = {
                sample: vars.sampling,
                finalize: vars.sampling && vars.progress.finalizable,
                final: vars.finalizing,
                complete: vars.completing,
            };

            ot.updatePage();
        }

        ot.onLoad(initPage);
        ot.onLive("progress", liveProgress);
        ot.onLive("trial", startTrial);
        ot.onInput("choice", inputResponse);
        ot.onLive("feedback", liveFeedback);
        ot.onInput("finalize", finalizeTrial);
        ot.onLive("result", liveResult);
        ot.onInput("continue", iterateRound);

        function initPage() {
            iterateRound();
        }

        async function iterateRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            ot.sendLive("iterate");
        }

        function liveProgress(progress) {
            vars.progress = progress;
            if (progress.terminated) ot.completePage();
        }

        function resetTrial() {
            vars.stage = null;
            vars.trial = null;
            vars.choice = null;
            vars.feedback = null;
            vars.result = null;
            vars.labels = {};
            vars.styles = { 1: "closed", 2: "closed", 3: "closed" };
            ot.resetInputs();
        }

        function resetResponse() {
            vars.choice = null;
            vars.feedback = null;
            vars.labels = { ...vars.trial.labels }; // copy
            vars.styles = { 1: "closed", 2: "closed", 3: "closed" };
            ot.resetInputs();
        }

        function startTrial(trial) {
            vars.trial = trial;
            vars.stage = "SAMPLING";
            resetResponse();
            switchState("running");
            ot.beginTimeMeasurement();
        }

        async function restartTrial(stage) {
            switchState("starting");
            vars.stage = stage;
            if (stage == "SAMPLING") await ot.delay(SAMPLING_DELAY);
            resetResponse();
            switchState("running");
        }

        function inputResponse(choice) {
            vars.choice = Number(choice);
            switchState("processing");
            ot.sendLive("response", {
                trialid: vars.trial.id,
                time: ot.getTimeMeasurement(),
                stage: vars.stage,
                button: vars.choice,
            });
        }

        function liveFeedback(feedback) {
            vars.feedback = feedback;
            if (!feedback.final) restartTrial("SAMPLING");
        }

        function finalizeTrial() {
            restartTrial("FINAL");
        }

        function liveResult(result) {
            vars.result = result;
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing");
            // auto advancing:
            await ot.delay(ITER_DELAY);
            iterateRound();
        }

        ot.onUpdate("vars.choice", function renderChoice(choice) {
            vars.selected = {};
            if (choice != null) {
                vars.selected[choice] = true;
            }
            ot.updatePage();
        });

        ot.onUpdate("vars.feedback.outcomes", function renderOutcomes(outcomes) {
            if (outcomes != null) {
                // only open cards where outcome is provided
                for (let i in outcomes) {
                    let val = outcomes[i];
                    if (val != null) {
                        vars.labels[i] = val;
                        vars.styles[i] = "opened";
                    }
                }
            }
            ot.updatePage();
        });
    </script>
{% endblock scripts %}
