{% extends "_extras/GamePage.html" %}

{% block header %}
    {# block for overall game status #}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <div class="alert alert-secondary m-2">Total score: <span ot-text="vars.progress.score"></span></div>
    </header>
{% endblock header %}

{% block main %}
    {# block for current trial #}
    <main ot-visible="vars.trial">
        <section class="main fs-4 text-center"><b ot-text="vars.trial.task"></b> =</section>

        <section class="info" ot-display="vars.result">
            <p>Scored: <b ot-text="vars.result.score"></b></p>
        </section>
    </main>
{% endblock main %}

{% block form %}
    <hr class="ridge" />

    <div class="alert alert-info" ot-display="vars.feedback.foranswer">
        You answered: <b ot-text="vars.feedback.answer"></b>
        <span></span>
    </div>

    <section class="form" ot-display="vars.deciding">
        <div class="btn-group">
            <input ot-input type="radio" class="btn-check" name="decision" value="INPUT" id="decision1" ot-enable="vars.deciding" />
            <label class="btn btn-outline-primary" for="decision1">Type-in<br />an answer</label>

            <input ot-input type="radio" class="btn-check" name="decision" value="CHOOSE" id="decision2" ot-enable="vars.deciding" />
            <label class="btn btn-outline-primary" for="decision2">Choose<br />an option</label>
        </div>
    </section>

    <section class="form" ot-display="vars.inputing">
        <div class="input-group">
            <span class="input-group-text">=</span>
            <input ot-input type="number" name="answer" class="form-control" ot-key-input="Enter" autofocus ot-enable="vars.responding" />
        </div>
    </section>

    <section class="form" ot-display="vars.choosing">
        <div class="form-check">
            <input id="choice1" ot-input type="radio" name="choice" value="1" class="form-check-input" ot-enable="vars.responding" />
            <label for="choice1" ot-text="vars.trial.options.1" class="form-check-label w-100"></label>
        </div>

        <div class="form-check">
            <input id="choice2" ot-input type="radio" name="choice" value="2" class="form-check-input" ot-enable="vars.responding" />
            <label for="choice2" ot-text="vars.trial.options.2" class="form-check-label w-100"></label>
        </div>

        <div class="form-check">
            <input id="choice3" ot-input type="radio" name="choice" value="3" class="form-check-input" ot-enable="vars.responding" />
            <label for="choice3" ot-text="vars.trial.options.3" class="form-check-label w-100"></label>
        </div>

        <button ot-click-input type="button" name="confirm" ot-enable="vars.confirming" class="btn btn-primary m-1">Confirm</button>
    </section>

    <button ot-display="vars.completing" ot-click-input type="button" name="continue" class="btn btn-secondary">Continue</button>
{% endblock form %}

{% block footer %}
    <footer>
        <div ot-display="vars.prompting.decide">Decide your strategy to solve the task...</div>
        <div ot-display="vars.prompting.select">Select and <kbd>Confirm</kbd> your answer...</div>
        <div ot-display="vars.prompting.input">Enter your answer and press <kbd>Enter</kbd>...</div>
        <div ot-display="vars.prompting.complete">Press <kbd>Continue</kbd> to proceed...</div>
        <ot-pulse ot-display="vars.waiting"></ot-pulse>
    </footer>
{% endblock footer %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const ITER_DELAY = 1000 * "{{C.ITER_DELAY}}"; // auto-advancing

        function switchState(state) {
            let stage = vars.progress ? vars.progress.stage : null;
            if (state == "running") state += `/${stage}`;
            let strategy = vars.trial ? vars.trial.strategy : null;
            // console.debug("switching", state, stage, strategy);

            vars.waiting = false;
            vars.responding = false;
            vars.deciding = false;
            vars.inputing = false;
            vars.choosing = false;
            vars.confirming = false;
            vars.completing = false;

            switch (state) {
                case "starting":
                    vars.waiting = true;
                    break;
                case "processing":
                    vars.waiting = true;
                    break;
                case "running/DECIDING":
                    vars.deciding = true;
                    break;
                case "running/ANSWERING":
                    vars.responding = true;
                    vars.inputing = strategy == "INPUT";
                    vars.choosing = strategy == "CHOOSE";
                    vars.confirming = vars.choosing && vars.choice != null;
                    break;
                case "completing":
                    vars.waiting = true; // auto
                    // vars.completing = true; // button
                    break;
                default:
                    throw Error(`Bogus state switch: ${state}`);
            }

            vars.prompting = {
                decide: vars.deciding,
                input: vars.inputing,
                select: vars.choosing,
                complete: vars.completing,
            };

            ot.updatePage();
        }

        ot.onLoad(initPage);
        ot.onLive("progress", (upd) => Object.assign(vars.progress, upd));
        ot.onLive("update", (upd) => Object.assign(vars.trial, upd));
        ot.onLive("trial", startTrial);
        ot.onInput("decision", inputDecision);
        ot.onInput("answer", inputResponse);
        ot.onInput("choice", inputChoice);
        ot.onInput("confirm", confirmChoice);
        ot.onLive("feedback", liveFeedback);
        ot.onLive("result", liveResult);
        ot.onInput("continue", iterateRound);

        function initPage() {
            vars.progress = {};
            iterateRound();
        }

        async function iterateRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            ot.sendLive("iterate");
        }

        ot.onUpdate("vars.progress.terminated", function (terminated) {
            if (terminated) ot.completePage();
        });

        function resetTrial() {
            vars.trial = null;
            vars.decision = null;
            vars.choice = null;
            vars.answer = null;
            vars.feedback = null;
            vars.result = null;
            ot.resetInputs();
        }

        function startTrial(trial) {
            vars.trial = trial;
            ot.beginTimeMeasurement(); // NB: restarts on page reload
            switchState("running");
        }

        function inputDecision(decision) {
            vars.decision = decision;
            switchState("processing");
            ot.sendLive("decision", {
                trialid: vars.trial.id,
                time: ot.getTimeMeasurement(),
                decision,
            });
        }

        function inputResponse(answer) {
            vars.answer = String(answer);
            switchState("processing");
            ot.sendLive("answer", {
                trialid: vars.trial.id,
                time: ot.getTimeMeasurement(),
                answer: vars.answer,
            });
        }

        function inputChoice(choice) {
            vars.choice = Number(choice);
            switchState("running");
        }

        function confirmChoice() {
            switchState("processing");
            ot.sendLive("choice", {
                trialid: vars.trial.id,
                time: ot.getTimeMeasurement(),
                button: vars.choice,
            });
        }

        function liveFeedback(feedback) {
            vars.feedback = feedback;
            vars.feedback.incorrect = !vars.feedback.correct;
            vars.feedback.foranswer = vars.feedback.answer != null; // it could be for decision
            if (feedback.continue) {
                switchState("running");
            }
        }

        function liveResult(result) {
            vars.result = result;
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing");
            // auto advancing:
            await ot.delay(ITER_DELAY);
            iterateRound();
        }
    </script>
{% endblock scripts %}
