/** 
 * Somewhat vibrant game-ish design
 * by qwiglydee@gmail.com
 *
 * requires bootstrap-theme.css
 */

:root {
    --gm-border-width-sect: 4px;
    --gm-border-radius-sect: 8px;
    --gm-border-width-form: 2px;
    --gm-border-radius-form: 8px;
}

body {
    background-color: var(--bs-gray-600);
    color: #000;
}

.otree-title {
    color: var(--bs-white);
}

.powered-by-otree,
.powered-by-otree .link-secondary {
    color: var(--bs-dark);
}

/**** sections ****/

section {
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: var(--bs-box-shadow-sm);
    border-radius: var(--gm-border-radius-sect);
    border-width: var(--gm-border-width-sect);
    border-style: solid;
    border-color: var(--bs-white);
    background-color: var(--bs-gray-200);
    color: var(--bs-dark);
}

section.active {
    box-shadow: var(--bs-box-shadow);
}

section p:last-child {
    margin-bottom: 0;
}

section.info {
    background-color: var(--bs-info-bg-subtle);
    color: var(--bs-dark);
}

section.warning {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-dark);
}

section.form {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-dark);
}

section.main {
    box-shadow: var(--bs-box-shadow);
    background-color: var(--bs-light-bg-subtle);
    border-color: var(--bs-dark);
    color: var(--bs-dark);
}

p:has(.otree-btn-next) {
    text-align: right;
}

/**** stuff ****/

.alert {
    border-radius: var(--gm-border-radius-sect);
    border-width: var(--gm-border-width-sect);
    box-shadow: var(--bs-box-shadow-sm);
}

.alert-primary {
    background-color: var(--bs-primary);
}

.alert-info {
    background-color: var(--bs-info);
    color: var(--bs-black);
}

.alert-warning {
    background-color: var(--bs-warning);
    color: var(--bs-black);
}

.alert-danger {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.alert-success {
    background-color: var(--bs-success);
    color: var(--bs-white);
}

/**** form elements ****/

button.btn,
.form-control,
.form-select,
.form-check-input {
    border-width: var(--gm-border-width-form);
    border-style: solid;
    border-color: rgba(var(--bs-dark-rgb), 0.75);
    border-radius: var(--gm-border-radius-form);
    transition:
        background-color 150ms ease-in-out,
        box-shadow 150ms ease-in-out,
        border 150ms ease-in-out;
}

.input-group-text {
    border-width: var(--gm-border-width-form);
    border-right-width: 0px;
    border-radius: var(--gm-border-radius-form);
    border-color: rgba(var(--bs-dark-rgb), 0.75);
}

button.btn:enabled:hover:not(:focus),
.form-control:enabled:hover:not(:focus),
.form-select:enabled:hover:not(:focus),
.form-check-input:enabled:hover:not(:focus) {
    box-shadow: 0 0 0.25rem 0.25rem rgba(255, 255, 255, 0.5);
}

button.btn:focus,
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    border-color: rgba(var(--bs-dark-rgb), 0.75);
    box-shadow: 0 0 0.25rem 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.form-control,
.form-select,
.form-check-input {
    background-color: rgba(255, 255, 255, 0.5);
}

.form-control:disabled,
.form-select:disabled,
.form-check-input:disabled {
    opacity: 0.75;
}

.form-control:focus,
.form-select:focus {
    background-color: rgba(255, 255, 255, 0.75);
}

.form-range::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, 0.75);
}

.form-range::-moz-range-track {
    background-color: rgba(255, 255, 255, 0.75);
}

textarea {
    max-width: 400px;
}

section.intro.form .form-control,
section.intro.form .form-select {
    width: 10em;
}

label.form-label,
label.col-form-label {
    font-weight: bold;
}

button[name="confirm"] {
    float: right;
}

hr.ridge {
    min-height: 4px;
    border-radius: 2px;
    border: 2px solid var(--bs-dark);
    border-top-color: var(--bs-light);
}

hr.crack {
    min-height: 4px;
    border-radius: 2px;
    border: 2px solid var(--bs-dark);
    border-bottom-color: var(--bs-light);
}
