{% extends "_extras/ExtPage.html" %}

{% block title %}Introduction{% endblock %}

{% block content %}
    <section>
        <p>...</p>
        <p>...</p>
        <p>...</p>
    </section>

    <section class="form">
        <p>Please fill information below</p>
        {% formfield 'age' %}
        {% formfield 'gender' %}
    </section>

    <section class="form">
        <h3>Consent</h3>
        <p>By clicking the "Next" button below, you provide your informed consent to proceed with the experiment.</p>

        {% formfield 'agreement' %}
    </section>

    {% next_button %}
{% endblock content %}
