{% extends "FullPage.html" %}
{% block content %}
    <header>
        <ot-progress ticks="1" max="vars.progress.total" value="vars.progress.passed" value2="vars.progress.current"></ot-progress>
        <div class="alert alert-secondary m-2">Total score: <b ot-text="vars.progress.score"></b></div>
    </header>

    <main ot-visible="vars.trial">
        <div class="cards cards-3">
            <button
                ot-click-input
                type="button"
                name="choice"
                value="1"
                ot-text="vars.labels.1"
                ot-enable="vars.responding"
                class="crd fs-1"
                ot-selected="vars.selected.1"
                ot-class="vars.styles.1"
            ></button>
            <button
                ot-click-input
                type="button"
                name="choice"
                value="2"
                ot-text="vars.labels.2"
                ot-enable="vars.responding"
                class="crd fs-1"
                ot-selected="vars.selected.2"
                ot-class="vars.styles.2"
            ></button>
            <button
                ot-click-input
                type="button"
                name="choice"
                value="3"
                ot-text="vars.labels.3"
                ot-enable="vars.responding"
                class="crd fs-1"
                ot-selected="vars.selected.3"
                ot-class="vars.styles.3"
            ></button>
        </div>
    </main>

    <footer>
        <div ot-display="vars.result">Score: <b ot-text="vars.result.score"></b></div>
        <div class="flex-fill"></div>
        <button ot-display="vars.completing" ot-click-input type="button" name="continue" class="btn btn-secondary m-3" autofocus>Continue</button>
        <ot-pulse ot-display="vars.waiting" class="m-2"></ot-pulse>
    </footer>
{% endblock content %}

{% block scripts %}
    <script>
        "use strict";

        const BLINK_DELAY = 200;
        const TRIAL_DELAY = 1000 * "{{C.TRIAL_DELAY}}";
        const NUM_BUTTONS = 3;
        const AUTO_ADVANCE = true;

        onLoad(continueRound);
        onLive("progress", liveProgress);
        onLive("trial", startTrial);
        onInput("choice", inputResponse);
        onLive("feedback", liveFeedback);
        onInput("continue", continueRound);
        onUpdate("vars.choice", renderChoice);
        onUpdate("vars.feedback.outcomes", renderOutcomes);
        onUpdate("vars.feedback.score", renderResult);

        function switchState(state) {
            vars.responding = false;
            vars.completing = false;
            vars.waiting = false;
            switch (state) {
                case "starting":
                    vars.waiting = true;
                    break;
                case "responding":
                    vars.responding = true;
                    break;
                case "evaluating":
                    vars.waiting = true;
                    break;
                case "completing":
                    if (AUTO_ADVANCE) {
                        vars.waiting = true;
                    } else {
                        vars.completing = true;
                    }
                    break;
                default:
                    throw Error("Invlid state");
            }
            ot.updatePage();
        }

        async function continueRound() {
            resetTrial();
            switchState("starting");
            await ot.delay(BLINK_DELAY);
            sendLive("continue");
        }

        async function liveProgress(progress) {
            vars.progress = progress;
            if (progress.finished) ot.completePage();
        }

        function resetTrial() {
            vars.trial = null;
            vars.choice = null;
            vars.feedback = null;
            ot.resetInputs();
        }

        function startTrial(trial) {
            vars.trial = trial;
            vars.labels = trial.labels;
            ot.beginTimeMeasurement();
            switchState("responding");
        }

        function inputResponse(choice) {
            vars.choice = Number(choice);
            switchState("evaluating");
            sendLive("response", {
                id: vars.trial.id,
                time: ot.getTimeMeasurement(),
                button: vars.choice,
            });
        }

        async function liveFeedback(feedback) {
            vars.feedback = feedback;
            completeTrial();
        }

        async function completeTrial() {
            switchState("completing");
            if (AUTO_ADVANCE) {
                await ot.delay(TRIAL_DELAY);
                continueRound();
            }
        }

        function renderOutcomes(outcomes) {
            if (outcomes != null) {
                // updating labels and styles for each button
                // only when a corresponding outcome provided
                for (let i in outcomes) {
                    let val = outcomes[i];
                    if (val != null) {
                        vars.labels[i] = val; // TODO: format
                        vars.styles[i] = "opened";
                    }
                }
            } else {
                vars.styles = { 1: "closed", 2: "closed", 3: "closed" };
            }
            ot.updatePage();
        }

        function renderChoice(choice) {
            vars.selected = { 1: false, 2: false, 3: false };
            if (choice != null) vars.selected[choice] = true;
            ot.updatePage();
        }

        function renderResult(score) {
            if (score != null) {
                vars.result = { score }; // TODO: format
            } else {
                vars.result = null;
            }
            ot.updatePage();
        }
    </script>
{% endblock scripts %}
