.field-slider .output-wrapper {
    display: block;
    position: relative;
    width: 100%;
    /* thumb size is 1rem */
    padding: 0 0.5rem;
}

.field-slider output {
    display: inline-block;
    position: relative;
    transform: translateX(-50%);
}

.field-scale .controls {
    display: grid;
}
.field-scale .controls label {
    text-align: center;
}
.field-scale .controls label input.form-check-input {
    display: inline-block;
    float: none;
    margin: auto;
}
.field-scale .controls .form-check {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
}

.field-grid {
    display: grid;
    gap: 0.5rem;
    justify-items: stretch;
    align-items: stretch;
}
.field-grid label {
    text-align: center;
    min-width: 5rem;
}
.field-grid label.form-label input.form-check-input {
    float: none;
    margin: auto;
}
.field-grid hr {
    margin: 0;
    grid-column: 1/7;
}
.field-grid > .form-text {
    align-self: center;
}
