/**
 * Fullscreen flexible page layout.
 * by qwiglydee@gmail.com
 *
 * - stretching main page full size
 * - alignings and centering elements: <header> <main> <footer>
 *
 * For mobile devices, should be accompanied with fullscreen.js
 */

:root {
    --fs-main-height: 50%;
    --fs-marg-height: 25%;
}

.otree-body {
    margin-top: 0;
}

.otree-content {
    height: var(--vh100, 100vh);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 0;
    margin-top: 0;
}

.otree-timer {
    display: none;
}

/** page sections **/

header,
main,
footer {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.75rem;
}

header {
    justify-content: start;
    align-items: center;
}

main {
    justify-content: center;
    align-items: center;
}

footer {
    justify-content: end;
    align-items: center;
}

header,
footer {
    flex: 0 1 var(--fs-marg-height);
}

main {
    flex: 1 1 var(--fs-main-height);
}

/* clean up header and paragraph margins */
footer > *:last-child,
header > *:last-child,
main > *:last-child {
    margin-bottom: 0;
}

/* prevent inputs to be too wide */
.input-group {
    width: auto;
}
